.h1 {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.h2 {
  font-size: 64px;
  line-height: 74px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.h6 {
  font-size: 12px;
  line-height: 14px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}
